/*
  Author; Shahyan Hasan
  Version: 1.0
  CSS Style file for WhereToGo Travel (Responsive Mobile first design)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* h4 {
  font-size: 3rem;
} */

html {
  font-size: 14px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.main {
  max-width: 1440px;
  font-family: "Open Sans", sans-serif;

  font-size: 1rem;
}

/*
    LOGO
*/

.logo-wrap a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

/*
    Navigation
  */

.nav {
  display: flex;
  list-style: none;
}

.nav li a {
  font-style: none;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;

  font-size: 1.3rem;
}

.nav li a:hover {
  text-decoration: underline;
}

/*
  Home page   
*/

.hero {
  background-image: url("images/final/home/hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
.hero-content {
  margin: auto;
  position: relative;
  top: 37vh;
  width: 90%;
}
#hero-headline,
#hero-subheadline {
  color: white;
}

#hero-headline {
  font-size: 1rem;
}

#hero-subheadline {
  font-size: 3rem;
  font-style: italic;
}

#hero-btn {
  background-color: red;
  border: none;
  margin-top: 20px;
  padding: 0.7rem;
  font-family: "Roboto", sans-serif;
}
#hero-btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  .hero-content {
    width: 100%;
  }

  #hero-headline {
    font-size: 4rem;
  }

  #hero-subheadline {
    font-size: 3rem;
  }
}

/* SEARCH WRAPPER */
.search-wrapper {
  /* height: 20vh; */
  text-align: center;
  margin-bottom: 70px;
}
.search-wrapper-headline {
  margin: 70px 0rem 20px 0rem;
  font-size: 2rem;
}

.search-form {
  position: relative;
  /* top: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.search-form-select {
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  background-color: #f8f8f8;
  margin: 0 0.2rem;
  border-color: orange;
  border-width: 1px;
  font-family: "Roboto", sans-serif;
}

.search-form-submit-btn {
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  background-color: orange;
  margin: 0 0.2rem;
  border: none;

  font-family: "Roboto", sans-serif;
  color: white;
}

@media only screen and (min-width: 426px) {
  .search-form-submit-btn,
  .search-form-select {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .search-form-submit-btn,
  .search-form-select {
    font-size: 1.6rem;
  }
}

/* Featured Section */
.featured {
  background-color: #f8f8f8;
  padding: 1rem 0;
}
.feature-dest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.featured-image {
  -webkit-box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
  -moz-box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
  box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
}
.featured-image img {
  width: 100%;
}

.featured-content {
  width: 90%;
  margin: 5rem auto;
}

.featured-country-name {
  color: orange;
  font-weight: bold;
}
.featured-headline {
  font-size: 2.2rem;
  margin: 0.5rem 0;
}
.featured-btn {
  background-color: blue;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: none;
  border-radius: 100px;
  padding: 1rem;
  position: relative;
  top: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 90%;
}
@media only screen and (min-width: 1025px) {
  .feature-dest:nth-child(1) {
    flex-direction: row;
  }
  .feature-dest:nth-child(2) {
    flex-direction: row-reverse;
  }
  .feature-dest:nth-child(3) {
    flex-direction: row;
  }

  .featured-content {
    width: 50%;
    margin: 1rem auto;
    align-self: center;
    padding-left: 2rem;
  }
  .featured-headline {
    font-size: 3rem;
  }
  .featured-desc {
    width: 80%;
  }
  .featured-btn {
    font-size: 100%;
  }
}

/* Destination panel */
.destinations-wrapper {
  margin: 40px auto;
  width: 90%;
}
.destination-header {
  margin-bottom: 30px;
  padding: 1rem;
  background-color: #f8f8f8;
  color: rgb(99, 99, 99);
  border-left: 5px solid red;
}

.destination-pannel {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.destination-card {
  height: 400px;
  width: 300px;
  margin: 0.5rem;
  border-bottom-right-radius: 25px;
  background-color: green;
  font-family: sans-serif;
}
.destination-card.one {
  background-image: url("./images/final/home/egypt-dest.jpg");
  background-repeat: no-repeat;
}
.destination-card.two {
  background-image: url("images/final/home/india-dest.jpg");
  background-repeat: no-repeat;
}
.destination-card.three {
  background-image: url("images/final/home/italy-dest.jpg");
  background-repeat: no-repeat;
}
.destination-card h3 {
  color: white;
  position: relative;
  top: 20rem;
  text-align: center;
  font-size: 2rem;
  background-color: black;
  opacity: 0.7;
  width: 80%;
  border-radius: 5px;
  margin: auto;
}
.destination-card:hover {
  -webkit-box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
  -moz-box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
  box-shadow: 0px 3px 7px 5px rgba(156, 156, 156, 1);
}

/* About Us */
.about-us {
  position: relative;
  background-image: url("./images/final/home/about-us.jpg");
  height: 700px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  color: white;
}
.about-wrapper {
  position: absolute;
  background-color: black;
  height: 700px;
  opacity: 0.5;
  width: 100%;
  top: 0;
  z-index: 1;
}
.about-copy {
  position: relative;
  top: 20%;
  left: 5%;
  width: 90%;
  padding: 1rem;
  font-weight: bold;
  z-index: 3;
}
.about-copy h2 {
  margin: 1rem 0;
}
.about-btn {
  background-color: red;
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  padding: 0.8rem;
  border-radius: 20px;
  font-style: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
  position: relative;
  top: 1.5rem;
  left: 0.1rem;
}
@media only screen and (min-width: 768px) {
  .about-copy {
    top: 35%;
  }
}

/* DESTINATION PAGE */

/* EGYPT */
.tour-image-egypt {
  height: 350px;
  background-image: url("images/final/destination/egypt/egypt-bg.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  position: relative;
}

/* INDIA */
.tour-image-india {
  height: 350px;
  background-image: url("images/final/destination/india/india-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  position: relative;
}
.india-tour {
  background-color: #fdf6f6;
}

/* ITALY */
.tour-image-italy {
  height: 350px;
  background-image: url("images/final/destination/italy/italy-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 40%;
  position: relative;
}

.tour-overlay {
  position: absolute;
  top: 0rem;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  height: 350px;
}

.tour-overview {
  padding: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: column-reverse;
}
.tour-copy {
  padding: 1rem;
}
.ratings-box {
  text-align: center;
  margin-top: 1rem;
}
.tour-feature-img {
  width: 100%;
}
.price-box {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  color: red;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) {
  .tour-overview {
    flex-direction: row;
    justify-content: center;
  }
  .tour-copy {
    align-self: center;
  }
  .ratings-box {
    text-align: left;
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .tour-copy {
    width: 40%;
  }
  .price-box {
    text-align: left;
  }
}
/*
    FOOTER 
  */
footer {
  background-color: black;
  padding: 2rem;
  color: white;
  text-align: center;
  font-size: 90%;
}

footer p {
  font-size: 90%;
}

footer p a {
  color: white;
  text-decoration: none;
}
